<%= form_tag "/products", method: :get do %>
  <input type="text" name="search_result" placeholder="Search...">
  <input type="submit" value="Search">
<% end %>
<!-- <h1>You have visited this site <%= @visit_count %> time(s)!</h1> -->
    <section>
      <div class="row">

        <% @products.each do |product| %>

          <div class="col-sm-4">
            <div class="product_single">
              <h2 class="product_header"><%= product.name %></h2>
              <p>Price: <%= product.price %></p>
              <a href="/products/<%= product.id %>" title="View Product"><!-- -->
              <p>Description: <%= product.description %></p>
            </div>
          </div>
        <% end %>

      </div>
    </section>

