  <section>
    <div class="row">    
      <div class="col-sm-8 col-sm-offset-2">
        <div class="product_single">
            <h2><%= @product.name %></h2>
            <p><%= @product.supplier.name %></p>
            <p><%= @product.sale_message %></p>
            <p class="<%= @product.red_price %>">Price: <%= number_to_currency(@product.price, unit: "Rupees ", format: "%n %u") %></p>
            <p>Tax: <%= number_to_currency(@product.tax, unit: "Rupees ", format: "%n %u") %></p>
            <p>Total: <%= number_to_currency(@product.total, unit: "Rupees ", format: "%n %u") %></p>
            <% @product.images.each do |image| %>
              <img src="<%= image.url %>" alt="<%= @product.name %>" class="img-responsive">
            <% end %>
            <p>Description: <%= @product.description %></p>
            <p>Categories:</p>
            <ul>
              <% @product.categories.each do |category| %>
              <li><%= category.name.capitalize %></li>
              <% end %>
            </ul>
            <% if current_user && current_user.admin %>
              <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
              <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>
            <% end %>
            <% if current_user %>
              <%= form_tag "/carted_products", method: :post do %>
                <div>Quantity: <input type="text" name="quantity"></div>
                <div><input type="hidden" name="product_id" value="<%= @product.id %>"></div>
                <input type="submit" value="Add to Cart!">
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </section>
